<!DOCTYPE html>
<html lang="en">
	<head>
		{{basicHeadResources}}
        {{basicStyle}}
        <style>
            .new-reserv {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        </style>
	</head>
	<body>
		<div class="holder" >
            <h2 class="new-reserv">Your reservation has been {{confirmed}}!
                 <span>{{trustedHtml icon}}</span>
            </h2>
            <h3>Your reservation on <strong>{{date}}</strong> at <strong>{{place}}</strong> has been {{confirmed}}</h3>
            {{#if confirmationStatus}}
                <h4>If you had any note about reservation please contact with <strong>{{place}}</strong>  via  <strong>{{email}}</strong> or <strong>{{phone}}</strong></h4>
            {{else}}
                <h4>
                    <p>We are really sorry about that {{name}}</p>
                    <p>You can still reserve other table in different place</p>
                </h4>
            {{/if}}
            <footer >
                <h2>tablook</h2>
            </footer>
        </div>
	</body>
</html>
