<!DOCTYPE html>
<html lang="en">
	<head>
		{{basicHeadResources}}
		{{basicStyle}}
	</head>
	<body>
		<div class="holder" >
            <h2>Contact requested from: <strong>{{sender}}</strong></h2>
            <h2>Topic: {{topic}}</h2>
            <h5>{{message}}</h5>
            <footer >
                <h2>tablook</h2>
            </footer>
        </div>
	</body>
</html>
